@{
    ViewBag.Title = "Final";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Muito Obrigado!</h2>
<p>Muito obrigado por ter colaborado com nossa pesquisa. Suas respostas irão nos ajudar a melhorar nosso condomínio.</p>
