@{
    ViewBag.Title = "Seja Bem-Vindo!";
}

<h2>Seja Bem-vindo!</h2>

<p class="message">

Prezado morador,

A administração do Condomínio Verano está realizando um Censo que tem como objetivo identificar todos seus moradores e mantê-los atualizados a respeito do funcionamento do Condomínio e dos serviços que oferece. É muito importante sua participação nesse Censo. Após essa pesquisa conseguiremos melhorar nosso padrão de qualidade relativo aos serviços de segurança, entretenimento, conservação e limpeza. Por favor preencha essa pesquisa à mão e deixe na administração ou então envie-a já preenchida,  o mais rápido possível  para o email   rio2verano@gmail.com. 

</p>

<p>
    Por favor, utilize a barra de opções acima para cadastrar seus dados e dos outros moradores de seu apartamento.
</p>

